/* styling mainheading */
.mainheading{
    text-align: center;
}
/* background image to fill screen */
body {
    background-image:url("https://wallpapertag.com/wallpaper/full/e/5/4/418315-hd-wood-background-1920x1200-download.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  
}
/* stylng buttons with different effects such as hover and border */
.btn-cv {
    text-decoration: none;
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.btn-cv:hover {background-color: #3e8e41}

.btn-interests {
    text-decoration: none;
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.btn-interests:hover {background-color: #3e8e41}

.btn-ebus {
    text-decoration: none;
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.btn-ebus:hover {background-color: #3e8e41}

.btn-yes {
    text-decoration: none;
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.btn-yes:hover {background-color: #3e8e41}

.btn-no {
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-no:hover {background-color: #3e8e41}

.btn-maybe {
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-maybe:hover {background-color: #3e8e41}

.btn-Ebus2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.btn-Ebus2:hover {background-color: #3e8e41}

.btn-GitHub {
      
  display: inline-block;
  padding: 1px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    
}
.btn-GitHub:hover {background-color: #3e8e41}

.btn-GitHub:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* Positioning my footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
}
/* styling buttons */
.btn-Travel {
  display: inline-block;
  padding: 1px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn-Travel:hover {background-color: #3e8e41}

.btn-Travel:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}